@using CvMvc.Models.Entity
@model List<TblAdmin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Admin Processes</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.UserName</td>
            <td><a href="/Admin/GetAdmin/@x.ID" class="btn btn-warning">Edit</a></td>
            <td><a href="/Admin/DeleteAdmin/@x.ID" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
<a href="/Admin/AddAdmin" class="btn btn-primary">Add New User</a>

