@model CvMvc.Models.Entity.TblMyCertificates
@{
    ViewBag.Title = "GetCertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Certificates Page</h4>
<br />
<form method="post">
    @Html.Label("Certificate Explanation")
    @Html.TextBoxFor(x => x.Explanation, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Update</button>
    <a href="/Certificates/DeleteCertificate/@ViewBag.d" class="btn btn-danger">Delete</a>
</form>



